.jumbotron {
  text-align: center;
  vertical-align: center;
  width: 100%;
  height: 300px;
  background-color: gray(55%);
  padding: 60px;

  & .title {
    font-size: 2rem;
    color: gray(90%);
  }

  & .subtitle {
    font-size: 1.5rem;
    color: gray(70%);
  }
}
